<nav class="main-nav">
    <div class="content d-flex justify-content-start align-items-center">
        <div class="logo d-flex">
             <img class="img-fit" src="assets/img/logo-white.png" alt="" srcset="">
        </div>
        <div class="nav-links">
             <ul class="nav-list list-unstyled d-flex justify-content-center align-items-center flex-row">
                <li><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}" routerLink="home">Home</a></li>
                <!-- <li><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}" routerLink="details">Details</a></li> -->
             </ul>
        </div>
    </div>
</nav>