<section class="home">
    <h1>Banque Misr Currency Converter</h1>
<app-converter (getRate)="setAmountListRates($event)"></app-converter>

<div *ngIf="payload" class="varous-coversion w-100 d-flex justify-content-even align-items-cener">
    <div class="side">
        <ul class="list-unstyled w-100">
            <li class="d-flex justify-content-between align-items-center" *ngFor="let item of amountsList"><span class="left">{{item  + ' ' + payload.from }}</span><span>{{(item * fromRate)}} {{payload.to}}</span></li>
        </ul>
    </div>
    <div class="side">
        <ul class="list-unstyled w-100">
            <li class="d-flex justify-content-between align-items-center" *ngFor="let item of amountsList"><span class="left">{{ item + ' ' +  payload.to}}</span><span>{{(item * toRate)}} {{payload.from}}</span></li>
        </ul>
    </div>
</div>
</section>
