<div class="converter-container">
    <h2 class="title">Currency Converter</h2>
    <form [formGroup]="converterForm" (submit)="convert(converterForm)">
        <div class="form-group  d-flex justify-content-center align-items-end">
            <div class="form-control pos-relative">
                <label for="">Amount :</label>
                <input (input)="convert(converterForm)" type="number" formControlName="amount" class="w-100" placeholder="Amount">
                <p *ngIf="converterForm.get('amount')?.errors?.['minValue']" class="error">*Please enter an amount greater than 0</p>
            </div>
            <div class="form-control">
                <label for="">From :</label>
                <ng-select [readonly]="isDetails" (change)="convert(converterForm)" formControlName="from" [items]="options"
                    [searchable]="true" 
                    placeholder="select currency" 
                    [clearable]="false"
                    >
                </ng-select>
             </div>
             <div (click)="switch()" [ngClass]="{'no-pointer' : isDetails}" class="switch ">
                <img class="img-fit" src="assets/img/swap.png" alt="" srcset="">
             </div>
             <div class="form-control">
                <label for="">To :</label>
                <ng-select (change)="convert(converterForm)" formControlName="to" [items]="options"
                    [searchable]="true"
                    [clearable]="false"
                    >
                </ng-select>
             </div>
             <button type="submit" class="submit-btn">Submit</button>
        </div>
    
         
    </form>
    <div class="result w-100 d-flex justify-content-center align-items-cener">
        <div class="amount">
            <span class="from">{{ (converterForm.value.amount ? converterForm.value.amount : 0) + ' ' + converterForm.value.from}} =</span>
            <span class="to">{{(result | number : '1.2-3')+ ' ' + converterForm.value.to}}</span>
        </div>
    </div>
    <div *ngIf="!isDetails && data" class="detail-links">
        <p class="detail-links text-center">
            <a [routerLink]="['/details/']" [queryParams]="{from:converterForm.value.from,to:converterForm.value.to}">Details</a>
             conversion — {{data?.time_last_update_utc}}
            </p>
    </div>
</div>